$background_body_article: #2e3443;
$font: "Roboto", sans-serif;
$column: 4;

.article {
    border-radius: 0 !important;
  }
  
  .image-article {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
  .body-article {
    background-color: $background_body_article;
  }
  .grille-text {
    font-family: $font;
    color: #d4eee2;
    text-align: end;
  }
  .grille-title {
    font-family: $font;
    color: #d4eee2;
  }
  gallery {
    -webkit-column-count: $column;
    -moz-column-count: $column;
    column-count: $column;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    margin-top: 10px;
    overflow: hidden;
  }
  
  .gallery .gallery-img-container {
    width: 100%;
    height: auto;
    transition: 500ms;
    margin-bottom: 10px;
    page-break-inside: avoid; /* For Firefox. */
    -webkit-column-break-inside: avoid; /* For Chrome & friends. */
    break-inside: avoid; /* For standard browsers like IE. :-) */
  }
  
  .gallery .gallery-img-container:hover {
    opacity: 0.80;
  }